.iconContainer {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
  animation: rotateIcon 1s linear;
}
