* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --foreground: #000000;
  --background: #ffffff;
  --gray-800: #1f2937;
  --gray-100: #ffffff;
  --primary-color: #ff1355;
  --text-color: #111111;
  --green-accent: #1fe765;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --background: #000000;
  }
} */

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0 24px;
}
